/* Empty. Add your own CSS if you like */
.my-menu {
  background-color: #5959AF;
  background-image: url('../img/menu_fondo.png');
}

.my-menu .list {
  background-color: transparent;
}

.my-menu .item, .my-menu .item-content, .my-menu .item-complex{
  background-color: transparent;
  color: #FFFFFF;
  border-color: rgba(0,0,0,0);
}

.options-menu{
	 background-color: 	#5959AF;
	 color: #FFFFFF;
}

.image-size{
	width:30px;
}

.image-size-l{
	width:50px;
}

.image-size-Xl{
	width:180px;
	text-align: center;
	vertical-align: center;
	margin-left: 15%;
}


p{
  color: blue !important;

}


h2{
  color: blue !important;
  font-weight: bold;
  text-size-adjust: auto;
  font-size: 90%;
}



.noticias-page{
	background-image: url('../img/menu_fondo.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.titulo{
	color: blue !important;
  	font-weight: bold;
  	text-size-adjust: auto;

}
.td_blue{
	color: blue !important;
  	font-weight: bold;
  	vertical-align: center;
}

.td_white{

	background-color: blue;
	font-weight: bold;
	color: white;
	vertical-align: center;
	text-align: center;
	float: right;
	padding: 10px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.notifications-container{
    margin-top:25%;
	background-color: white;
	font-weight: bold;
	color: blue;
	vertical-align: center;
	text-align: center;
	padding: 10px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.font-small{
	font-size: 13px;
}
.my-show-hide-animation.ng-hide-add,
.my-show-hide-animation.ng-hide-remove {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;

  /* remember to add this */
  display:block!important;
  opacity:1;
}
.my-show-hide-animation.ng-hide {
  opacity:0;
}
.my-show-hide-animation.ng-hide-remove,
.my-show-hide-animation.ng-hide-add {
  /* remember, the .hg-hide class is added to element
     when the active class is added causing it to appear
     as hidden. Therefore set the styling to display=block
     so that the hide animation is visible */
  display:block!important;
}

.my-show-hide-animation.ng-hide-add {
  -webkit-animation:0.5s hide;
  animation:0.5s hide;
}

@keyframes hide {
  from { opacity:1; }
  to { opacity:0; }
}

@-webkit-keyframes hide {
  from { opacity:1; }
  to { opacity:0; }
}

.my-show-hide-animation.ng-hide-remove {
  -webkit-animation:0.5s show;
  animation:0.5s show;
}

@keyframes show {
  from { opacity:0; }
  to { opacity:1; }
}

@-webkit-keyframes show {
  from { opacity:0; }
  to { opacity:1; }
}
